<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST Grad</title>
</head>

    <header>
        <img id="uah-template-logo" src="img/UAH_Logo.png" alt="UAH_LOGO"/>
        <p id="template-header-title">POST Grad</p>
        <p id="template-header-subtitle">Program of Study Tracker for Grad Students</p>
    </header>

    <!--<div ng-view></div>-->

    <footer>
        <p id="template-footer-text">Need help? Call IT at 555.555.5555</p>
    </footer>

</body>
</html>